@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Iceberg&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Russo+One&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {

    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: auto;
    align-items: center;
    justify-content: center;

}

/* Username Screen */

.start-button {
background-color: #4b5ae4;
color: white;
border-radius: 1rem;
}

#usernameScreen {
    display: grid;
    justify-items: center;
}



.answer {
    display: flex;
    border: 2rem;
    border-color: black;
    border-radius: 0, 5rem;

}