@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Iceberg&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Russo+One&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {

    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: auto;
    align-items: center;
    justify-content: center;

}

h1,
p {
    display: flex;
    justify-content: center
}

/* Button Section */
.start-button,
.btn-submit,
.btn-next,
.btn-rate {
    background-color: #4b5ae4;
    color: white;
    border-radius: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.radio-btn {
    margin-left: 5px;
    
}

#usernameScreen {
    display: grid;
    justify-items: center;
}

container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-group {
    display: flex;
    flex-direction: column;
    border: 2rem;



}

.answer {
    display: flex;
    border: 1px solid;
    border-color: black;
    border-radius: 0.5rem;
    gap: 10px;
    margin: 1px;
    width: auto;

}

.hidden {
    display: none;
}