@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Iceberg&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Russo+One&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {

    font-family: 'Lato', sans-serif;
    background-color: white;
    margin: auto;
    align-items: center;
    justify-content: center;

}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 30px;
}

/* Introduction Section */
h2,
h3,
p {
  text-align: center;
}

/* Button Section */
.start-button,
.btn-submit,
.btn-next,
.btn-rate {
    background-color: #4b5ae4;
    color: white;
    border-radius: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.radio-btn {
    margin-left: 5px;
    
}

#tryAgain {
    background-color: #f95f5f;
    color: white;
    border-radius: 1rem;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#usernameScreen {
    display: grid;
    justify-items: center;
}

.timer {
  font-weight: bold;
  font-size: 1.2rem;
  color: #4b5ae4;
  margin-bottom: 10px;
}

.container-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h3#question-text {
    text-align: center;
}

.answer-group {
    display: flex;
    flex-direction: column;
    border: 2rem;
}

.answer {
    display: flex;
    border: 1px solid;
    border-color: black;
    border-radius: 0.5rem;
    gap: 10px;
    margin: 8px 0;
    padding: 10px;


}

.correct-answer {
    background-color: #c8f7c5;
    border: 2px solid green;
}

.wrong-answer {
    background-color: #f7c5c5;
    border: 2px solid red;
}

.correct-answer,
.wrong-answer {
  transition: background-color 0.3s ease, border 0.3s ease;
}


.hidden {
    display: none !important;
}

#rateScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.rate-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#username {
    max-width: 300px;
}


@media (max-width: 600px) {
  .answer {
    flex-direction: column;
    font-size: 14px;
  }

  .btn-submit,
  .btn-next {
    width: 100%;
  }
}